{% extends "base_no_sidebar.html" %}

{% block content %}
<div class="container">
    <h2>Zresetuj hasło</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div style="display: none;">
            {{ form.honeypot }}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.new_password.label }}
            {{ form.new_password(class="form-control", oninput="checkPasswordStrength(this.value)") }}
            <div style="margin-top: 10px;">
                <progress id="strength-bar" value="0" max="5" style="width: 100%;"></progress>
                <small id="strength-text"></small>
            </div>
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.totp.label }}
            {{ form.totp(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <script src="{{ url_for('static', filename='js/password_strength.js') }}"></script>
</div>
{% endblock %}
